!.gitignore
*.exe
*.dll
*.stackdump
*.exp
*.lib
*.pdb
src/*.o
src/*.d

memcard1
c2c.bin
SCES_009.67

srcemu/Debug
srcemu/hookemu.ncb
srcemu/hookemu.suo
srcemu/hookemu.vcproj.*

srcdisasm/obj
srcdisasm/bin
srcdisasm/PSXDiscompile.suo
srcdisasm/PSXDiscompile.csproj.*

zz_map.txt
zz_dis.txt
